# This is the configuration file for our website
[info]
title = The Pystable blog example
subtitle = Python at work
author = Mario Krapp
aboutme = I developed Pystable to learn how to write a static blog engine
info = This example shows how a pystable-generated web page might look like. 
[config]
theme = simple
syntax = markdown
url = http://www.mariokrapp.com
output = pystable_test
[contact]
twitter = mkrapp3000
email = 
facebook = 
google+ = 
github = mkrapp
