# This is the configuration file for our website
[main]
url = /Users/mario/Projects/PyStaBlE
output = output
title = My new blog with PyStaBlE
subtitle = this is the subtitle
author = Mario Krapp
aboutme = I'm writing a static blog engine to learn how to do it
info = This information should be visible on the webpage
theme = simple
syntax = markdown
