<fieldset>
  <legend><a href="$url">$title</a></legend>
  <div class="post">
      $content
  </div>
      <table width=100%>
         <tr>
             <td>Tags: $tags</td>
             <td align="right">$date</td>
         </tr>
      </table>
</fieldset>
