<fieldset>
    <legend>About $author</legend>
      <div class="sidebar">
        $aboutme
      </div>
</fieldset>

<fieldset>
    <legend>Info</legend>
      <div class="sidebar">
        $info
      </div>
</fieldset>

<fieldset>
    <legend>Archive</legend>
      <div class="sidebar">
        $archive
      </div>
</fieldset>

<fieldset>
    <legend>Tags</legend>
      <div class="sidebar">
        $tagcloud
      </div>
</fieldset>
