body {
	padding-bottom: 1em;
	border-right: 2px solid rgb(128, 128, 128);
	background-color: white;
	color: black;
	margin: 0;
}

div.title h1 {
        margin: 0px -10px;
	padding: 5px 10px 0px 10px;
	text-align: center;
}

div.title h2 {
	margin: 0 1em 1ex 0;
	padding: 0;
        text-align: right;
}

legend {
        font-weight: bold;
	font-size: 105%;
}

a {
	color: black !important;
}

pre {
	overflow:	auto;
	background:     #eee;
	padding:        5px  10px;
}

table {
	border-spacing: 10px;
}

div.footer {
        font-size: 75%;
}
