<fieldset>
    <legend>About $author</legend>
      <div class="about">
        $aboutme
       <div align="center">
 	 $email
         $twitter
	 $google
	 $linkedin
	 $facebook
	 $github
       </div>
      </div>
</fieldset>

<fieldset>
    <legend>Info</legend>
      <div class="sidebar">
        $info
      </div>
</fieldset>

<fieldset>
    <legend>Archive</legend>
      <div class="sidebar">
        $archive
      </div>
</fieldset>

<fieldset>
    <legend>Tags</legend>
      <div class="sidebar">
        $tagcloud
      </div>
</fieldset>
